.container
  h2 Edit Order
  hr
  form(name="editOrderForm")
    .row
      .form-group.col-md-6
        label(for="orderName") Order Name
        input.form-control(id="orderName", type="text", placeholder="Enter name...", ng-model="order.name", required)

    .pull-right
      .checkbox
        label
          input(type="checkbox", ng-model="hideEmpty")
          | Hide product with empty quantity
      input.form-control(ng-model="filterText", placeholder="Filter", ng-change="hideEmpty = false")

    table.table.table-striped.table-condensed
      thead
        tr
          th Product code
          th Product description
          th Member price
          th Quantity
          th Remaining
      tbody
        tr(ng-repeat="product in order.products | filter: filterText", ng-show="!!product.quantity || !hideEmpty")
          td {{ product.product_code }}
          td {{ product.product_description }}
          td {{ product.member_price | currency }}
          td
            input.form-control(text="text", ng-model="product.quantity", ng-change="calcTotal()", ng-pattern="intReg")
          td 0
      tfoot
        tr
          td(colspan="5") Total:

    button.btn.btn-primary(ng-disabled="editOrderForm.$invalid", ng-click="updateOrder(order)") Update order
    a.btn.btn-default.margin-left-med(href="/orders") Cancel
