.container
  h2 Product List
  hr
  .pull-right
    form.form-inline
      .form-group
        input.form-control(ng-model="filterText", placeholder="Filter")

  table.table.table-striped.table-condensed
    thead
      tr
        th.col-md-2
          a(href="", ng-click="predicate = 'product_code'; reverse = !reverse") Product code&nbsp;
            span.glyphicon.glyphicon-chevron-up(ng-show="predicate === 'product_code' && !reverse")
            span.glyphicon.glyphicon-chevron-down(ng-show="predicate === 'product_code' && reverse")
        th.col-md-6
          a(href="", ng-click="predicate = 'product_description'; reverse = !reverse") Product description&nbsp;
            span.glyphicon.glyphicon-chevron-up(ng-show="predicate === 'product_description' && !reverse")
            span.glyphicon.glyphicon-chevron-down(ng-show="predicate === 'product_description' && reverse")
        th.col-md-2
          a(href="", ng-click="predicate = 'member_price'; reverse = !reverse") Member Price&nbsp;
            span.glyphicon.glyphicon-chevron-up(ng-show="predicate === 'member_price' && !reverse")
            span.glyphicon.glyphicon-chevron-down(ng-show="predicate === 'member_price' && reverse")
        th.col-md-1 Edit
        th.col-md-1 Delete
    tbody
      tr(ng-repeat="product in products | filter: filterText | orderBy: predicate: !reverse")
        td {{ product.product_code }}
        td {{ product.product_description }}
        td {{ product.member_price | currency }}
        td
          span.glyphicon.glyphicon-edit.cursor-hand(ng-click="editProduct(product)")
        td
          span.glyphicon.glyphicon-remove.cursor-hand(ng-click="deleteProduct(product)")
