.container
  .jumbotron
    h2 Welcome to SRPlanner
    ul
      li
        a(href="/products") View the product list
      li
        a(href="/orders") View the order list
      li
        a(href="/order/new") Create a new order
