.container
  h2 Order Planner
  hr
  form(name="plannerForm")
    .row.col-md-5
      h3 Order name: {{ order.name }}

    table.table.table-striped.table-condensed.plan-table
      thead
        tr
          th.plan-table-md Product code
          th.plan-table-lg Product description
          th.plan-table-md Member price
          th.plan-table-md Quantity
          th.plan-table-md Remaining
          th.plan-table-sm Sub 1
          th.plan-table-sm Sub 2
          th.plan-table-sm Sub 3
      tbody
        tr(ng-repeat="product in order.products")
          td {{ product.product_code }}
          td {{ product.product_description }}
          td {{ product.member_price | currency }}
          td {{ product.quantity }}
          td {{ calcRemaining(product) }}
          td(ng-repeat="sub in product.subs")
            input.form-control(text="text", ng-model="sub.value", ng-pattern="intReg")
      tfoot
        tr
          td(colspan="5") Total: {{ calcTotal() | currency }}
          td {{ calcSubTotal(0) | currency }}
          td {{ calcSubTotal(1) | currency }}
          td {{ calcSubTotal(2) | currency }}

    button.btn.btn-primary(ng-disabled="plannerForm.$invalid", ng-click="submitPlanner()") Submit
    a.btn.btn-default.margin-left-med(href="/orders") Cancel
