body {
    padding-top: 60px;
}

.margin-left-med {
    margin-left: 10px;
}

.cursor-hand {
    cursor: pointer;
}

.plan-table {
    table-layout: fixed;
}

.plan-table-sm {
    width: 80px;
    text-align: center;
}

.plan-table-md {
    width: 100px;
}

.plan-table-lg {
    width: 400px;
}
